# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env



# Trained models
models/
*.pth

# Generated CSV / outputs
*.csv

# Feedback storage
feedback/user_feedback.csv