# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Large datasets
data/
data/raw_data/
data/training_images/

# Trained models
models/
*.pth

# Generated CSV / outputs
*.csv

# Feedback storage
feedback/user_feedback.csv