# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp

# Local-only feedback file (but keep folder)
feedback/user_feedback.csv